@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');

@font-face{
    font-family:'AppleSDGothicNeoEB';
    src:url('./Apple SD sanGodic Neo/AppleSDGothicNeoEB.ttf') format("truetype");
}

@font-face{
    font-family:'AppleSDGothicNeoH';
    src:url('./Apple SD sanGodic Neo/AppleSDGothicNeoH.ttf') format("truetype");
}

@font-face{
    font-family:'AppleSDGothicNeoL';
    src:url('./Apple SD sanGodic Neo/AppleSDGothicNeoL.ttf') format("truetype");
}

@font-face{
    font-family:'AppleSDGothicNeoM';
    src:url('./Apple SD sanGodic Neo/AppleSDGothicNeoM.ttf') format("truetype");
}

button {
    font-family: 'Lemonada', cursive;
}

.title_content {
    font-family: 'Lemonada', cursive;
    color: #7E5C55;
}

#title_content_small {
    font-family: 'Lemonada', cursive;
    color: #956D65;
}

.contents_title{
    font-family: 'Lemonada', cursive;
    color: #956D65;
}

.team{
    font-family: 'AppleSDGothicNeoM';
}