@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');

button {
    font-family: 'Lemonada', cursive;
}

.title {
    font-family: 'Lemonada', cursive;
    color: #7E5C55;
}

#small {
    font-family: 'Lemonada', cursive;
    color: #956D65;
}